*~
autom4te.cache/
configure
include/defines.hpp
include/defines.hpp.in
target/
config.*
Makefile
doc/*.png
doc/*.aux
doc/*.log
doc/*.out
doc/*.pdf
doc/*.html
doc/app/
doc/vis/
doc/lib/
PicoPIC
simulation_result/
.ipynb_checkpoints
__pycache__
testingdir
test/functional/true_data/
lib/python/picopic/dist/
lib/python/picopic/picopic.egg-info/
*.o
*.a
*main
.nbrun[0-9,a-z,A-Z]*ipynb*
data.h5