[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/picojson"]
	path = lib/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/loguru"]
	path = lib/loguru
	url = https://github.com/emilk/loguru.git
[submodule "lib/HighFive"]
	path = lib/HighFive
	url = https://github.com/BlueBrain/HighFive.git
